/* **********************GOOGLE FONT LINK**************** */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    scroll-behavior: smooth;
    background: gray;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
  }
  h1{
     text-shadow: 5px 4px 4px rgb(116, 106, 106);
      font-weight: 900;
      font-size: 4rem;
      margin: 10px;
  }
  .box{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 200px;
      width: 400px;
      margin: 10px;
      background: chocolate;
      border-radius: 50px;
      color: white;
      font-size: 3rem;
      font-weight: 600;
      text-shadow: 3px 3px 3px rgb(116, 106, 106);
      transform: translateX(-300%);
      transition: transform 0.4s ease;
      box-shadow: 2px 2px 2px black;
  }
  .box:nth-of-type(even){
    transform: translateX(300%);
}

  .box.show{
      transform: translateX(0);
  }
 